@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    color: #2f2f2f;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
}

.logo{
    color: #2f2f2f;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
}

header .logo span{
    color: #ff0157;
} /* More precise way to target the span element */

header .navigation{
    display: flex;
    list-style: none;
    gap: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: #2f2f2f;
    font-weight: 400;
    font-size: 1.5em;
}

.banner{
    width: 100%; 
    height: 100vh; /* Viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(https://i.postimg.cc/s29LNR86/bg.jpg); /* Darkens the image */
    background-size: cover;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
}

.content{
    max-width: 900px;
    text-align: center;
}

.content h2{
    font-size: 5em;
    color: white;
}

.content p{
    color: white;
    font-size: 1em;
}

.btn{
    font-size: 1.5em;
    color: white;
    background-color: #ff0157;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 40px; /* anchor tags are inline elements -- must change display to inline-block for margin to work */
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about{
    padding: 80px;
}

.about .col50 p{
    line-height: 1.6;
    font-size: 1.1em;
}
.row{
    display: flex;
    gap: 3em;
    width: 100%;
}

.row .col50{
    width: 50%;
}

.imgbox{
    width: 100%;
    min-height: 300px;
}

.imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.titleText span{
    color: #ff0157;
    font-weight: 600;
    font-size: 1.5em;
}

.titleText{
    color: #2f2f2f;
    font-size: 2em;
    font-weight: 400;
}

.menu{
    padding: 80px;
}

.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    padding: 3em;
}

.menu-content .box{
    width: 340px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1em;
}

.text{
    text-align: center;
    padding: 15px 0 5px;
}

.menu-content .box .imgbox{
    width: 100%;
    height: 300px;
}

.expert{
    padding: 80px;
}

.expert .menu-content .box{
    width: 250px;
}